argon2-cffi==25.1.0
Django==6.0.6
django-allauth==65.18.0
django-cors-headers==4.9.0
django-ratelimit==4.1.0
pillow==12.2.0
psycopg[binary]==3.3.4
python-dotenv==1.2.2
gunicorn==26.0.0
uvicorn==0.49.0
whitenoise==6.9.0
sentry-sdk==2.62.0
